.places {
  margin: 0 auto;
  padding: 92px 0 92px;
  max-width: 984px;
  width: 90.6%;
}

@media (max-width: 768px) {
  .places {
    padding-top: 88px;
    padding-bottom: 90px;
    width: 93.75%;
  }
}

@media (max-width: 500px) {
  .places {
    padding-top: 64px;
    padding-bottom: 66px;
    width: 100%;
  }
}
