.header {
  display: flex;
  background-color: #2A2C2F;
  padding: 28px 48px 0;
  justify-content: space-between;
  align-items: flex-end;
}


@media (max-width: 768px) {
  .header {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 320px) {
  .header {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
  }
}
