.place__paragraph {
  font-size: 18px;
  line-height: 29px;
  margin: 0 0 26px 0;
}

.place__paragraph:last-child {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 25px;
  }
}

@media (max-width: 500px) {
  .place__paragraph {
    margin-left: 16px;
    margin-right: 16px;
  }
}
