.cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  background-clip: content-box;
  margin: 0 auto;
  /*Задаем соотношение сторон в соответсвии с макетом и ограничиваем растяжение.*/
  width: 100vw;
  max-width: 1184px;
  min-height: 740px;
}

.cover:hover .cover__link::after {
  background-color: rgb(42, 44, 47, .8);
}

@media (max-width: 1024px) {
  .cover {
    min-height: 640px;
  }
}

@media (max-width: 768px) {
  .cover {
    min-height: 480px;
  }
}

@media (max-width: 320px) {
  .cover {
    min-height: 200px;
  }
}
