.footer__links-list-item {
  margin-right: 18px;
}

.footer__links-list-item:last-child {
  margin-right: 0;
}

@media (max-width: 720px) {
  .footer__links-list-item {
    margin-right: 0;
    margin-bottom: 32px;
  }

  .footer__links-list-item:last-child {
    margin-bottom: 48px;
  }
}
